body{
	background-color: black;
	color: yellow;
	font-family: 'Karla', sans-serif;
	background-color: black;
}

header{
	display: flex;
	flex-direction: column;
}

header img{
	width: 60%;
	align-self: center;
	margin: -100px;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

nav a{
	margin: 6px 6px 6px 6px;
	padding: 4px;
	border: 2px solid black;
	border-radius: 10px;
}

a:hover{
	border: 2px solid red;
	border-radius: 10px;
}

h1, h2{
	text-align: center;
	font-family: 'Pirata One', cursive;
}

h1{
	font-size: 3.5em;
}

h2{
	font-size: 2em;
}

#checklists{
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	padding: 0px;
	border: none;
	background-color: rgba(15, 15, 15, 0.0);
}

div{
	padding: 15px;
	border:solid yellow;
	border-width: 0px 0px 0px 4px;
		width: 500px;
	height: 500px;
	overflow: auto;
	margin: 15px;
	border-radius: 5px;
	background-color: rgba(15, 15, 15, 0.6);
}

input[type="checkbox"]:checked + label{
  color: grey;
}
